
@{
    Layout = null;

    //
    //Get User Information from Principal
    var userData = (User as RBACExample.RBAC.RBACPrincipal);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>認證: @User.Identity.IsAuthenticated</h3>

    @if (User.Identity.IsAuthenticated)
    {
        <h3>Name: @User.Identity.Name</h3>

        <h3>Role: @userData.Role</h3>
    }


    <div>


    </div>
</body>
</html>
